<div class="jumbotron container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">

            <h2>Publications</h2> <br> 
                                     
            <form class="form-horizontal" role="form"> 

                <div class="form-group">
                    <div class="col-md-9 col-md-offset-2">
                        <input class="form-control" type="text" name="postTitle" [(ngModel)]="postTitle" placeholder="Titre...">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-9 col-md-offset-2">
                        <input class="form-control" type="text" name="postText" [(ngModel)]="postText" placeholder="Texte...">
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="col-md-1">
                            <img [src]="postSubmit" class="imgSubmit" style="pointer-events: none;" height="auto" width="300px;">
                            <input type="file" (change)="OnPreLoadImage($event)"/>   
                        </div>

                        <div class="form-group">
                            <div class="col-md-2 col-md-offset-7"> 
                                <button class="button button--publier button--text button--inverted pull-right" 
                                    (click)="submitPost(postTitle, postText)">
                                    <i class="button__icon fa fa-paper-plane"></i>
                                    <span>Publier</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>            
            </form>
        </div>
    </div>
</div>

<div *ngFor="let pub of posts">
    <div id="pub.postId" >
            <postUser [p]='pub'></postUser>
    </div>
    
</div>