<div id="titre">RAMBLE</div>

<nav class="menu">

        <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open" />

        <label class="menu-open-button" for="menu-open">
            <span class="lines line-1"></span>
            <span class="lines line-2"></span>
            <span class="lines line-3"></span>
        </label>
     
        <!-- le menu contient 6 choix dont en ce moment 3 mock icons a visibility hidden -->
        <a href="#" class="menu-item blue" style="visibility:hidden"> 3 </a>
        <a href="#" class="menu-item green" style="visibility:hidden"> 4 </a>
        <a href="#" class="menu-item purple" style="visibility:hidden"> 5 </a>
        
        <a class="menu-item logout" (click)="onLogout()"> 
            <i class="fa fa-power-off"></i> 
        </a> 

        <a routerLink="/profil" routerLinkActive="active" class="menu-item profil"> 
            <i class="fa fa-address-card-o"></i> 
        </a>
        
        <a routerLink="/map" routerLinkActive="active" class="menu-item map"> 
            <i class="fa fa-map-signs"></i> 
        </a>
               
     </nav>
