<div id="gauche" routerLink="/map" routerLinkActive="active">
    <div id="titre">RAMBLE</div>
    <div *ngIf="utilisateurService.getUsername()" class="username-div">@{{utilisateurService.getUsername()}}</div>

</div>

<div id="droite" *ngIf="utilisateurService.loggedIn()">
    <nav class="menu">

        <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open" />

        <label class="menu-open-button" for="menu-open">
            <span class="lines line-1"></span>
            <span class="lines line-2"></span>
            <span class="lines line-3"></span>
        </label>
        
        <a class="menu-item logout" (click)="onLogout()"> 
            <i class="fa fa-power-off"></i> 
        </a>

        <a routerLink="/map" routerLinkActive="active" class="menu-item map"> 
            <i class="fa fa-map-signs"></i> 
        </a>        

        <a routerLink="/profil" routerLinkActive="active" class="menu-item profil"> 
            <i class="fa fa-address-card-o"></i> 
        </a>
               
     </nav>
</div>