
<form>

    <input checked id="signin" name="action" type="radio" value="signin">
    <label for="signin">Sign in</label>

    <input id='signup' name='action' type='radio' value='signup'>
    <label for='signup'>Sign up</label>

    <input id='reset' name='action' type='radio' value='reset'>
    <label for='reset'>Reset</label>

    <div id="wrapper">
        <div id="arrow"></div>
        <input id="email" type="text" tmFocus [(ngModel)]="email" required name="email" placeholder="Email">
        <input id="pass" type="password" [(ngModel)]="mdp" required name="mdp" placeholder="Mdp">
        <input id="repass" type="password" [(ngModel)]="confirm" required name="confirm" placeholder="Confirmer Mdp">
    </div>

    <button type="submit">
        <span>
            Reset password
            <br>
            Sign in
            <br>
            Sign up
        </span>
    </button>

</form>