
<form novalidate>

    <div class="input">
        <label for="email">Courriel</label>
        <input type="email" tmFocus [(ngModel)]="email" required name="email" placeholder="Email">
    </div>

    <div class="input">
        <label  for="mdp">Mot de passe</label>
        <input type="password" [(ngModel)]="mdp" required name="mdp" placeholder="Mdp">
    </div>

    <div class="input" *ngIf="binscription">
            <label  for="confirm">Confirmer mot de passe</label>
            <input type="password" [(ngModel)]="confirm" required name="confirm" placeholder="Confirmer Mdp">
    </div>

    <div class="input">
        <button type="submit" (click)="onLogin(email,mdp)">Connexion</button>
    </div>

    <div class="input">
        <button (click)="toggleInscription()" *ngIf="!binscription">S'inscrire</button>
        <button type="button" *ngIf="binscription" (click)="inscription(email,mdp,confirm)">
            Créer compte</button>
    </div>
    
</form>