

<form #f="NgForm" (ngSubmit)="onLogin(f.email, f.mdp)" *ngIf="!utilisateurService.loggedIn()">

    <div class="input">
        <label for="email">Courriel</label>
        <input type="email" tmFocus required ngControl="email" [(ngModel)]="email" placeholder="Email">
    </div>

    <div class="input">
        <label  for="mdp">Mot de passe</label>
        <input type="password" required ngControl="mdp" [(ngModel)]="mdp" placeholder="Mdp">
    </div>

    <div class="input" *ngIf="binscription">
            <label  for="confirm">Confirmer mot de passe</label>
            <input type="password" required ngControl="mdp" [(ngModel)]="confirm" placeholder="Confirmer Mdp">
    </div>

    <div class="input">
        <button type="submit">Connexion</button>
    </div>

    <div class="input">
        <button (click)="toggleInscription()" *ngIf="!binscription">S'inscrire</button>
        <button type="button" *ngIf="binscription" (click)="inscription(email,mdp,confirm)">
            Créer compte</button>
    </div>
    
</form>