@import url(https://fonts.googleapis.com/css?family=Raleway:700,800);

*:focus {
  outline: 0 !important;
}
.jumbotron { 
    font-family: 'Raleway', sans-serif;
    position: relative;
    background-color: rgba(255, 255, 255, 0.75) !important;
    border-radius: 8px;
    padding-right:1%;
    padding-left:1%;
    padding-top:1%;
    margin-top: 1%;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: hidden;
}
.img-responsive{
  max-width: 150px !important;
  height: auto;
  position: absolute;
  margin-top: 50px;
}
.padding-fix{
  padding-bottom: 3%;
}
.usernamepost{
  font-size: 25px;
  color: #AAAAAA;
  top: 200px;
  left: 50px;
  position: absolute;
}
.titrepost {
  font-size: 30px;
  color: #AAAAAA;
  margin-top: 30px;
}
.textpost {
  font-size: 18px;
  color: grey;
  margin-top: 30px;
}
#littleTitle {
  margin-top: 8px;
}
.commentTexte {
  font-size: 18px;
  color: darkslategray;
  margin-top: 5px;
}
.commentOther {
  font-size: 12px;
  color: lightslategray;
  margin-top: 5px;
  margin-bottom: 5px;
}
.deleteComment {
  color: #7CBB74;
}
.deleteComment:hover {
  color: red;
}

.button {
	float: left;
	min-width: 150px;
	max-width: 250px;
	display: block;
  margin: 1em;
  margin-top: 30px;
  margin-bottom: 20px;
	padding: 1em 2em;
	border: none;
	background: none;
	color: inherit;
  position: relative;
  border-radius: 40px;
  z-index: 1;
  font-weight: 500;
}
.button:focus {
	outline: none;
}
.button > span {
	vertical-align: middle;
}
/* Post */
.button.button--post {
	width: 70px;
	height: 70px;
	min-width: 0;
	padding: 0;
	color: #fff;
	transition: color 0.3s;
}
.button--post.button--inverted {
	color: #7CBB74;
}
.button--post::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: inherit;
	z-index: -1;
	box-shadow: inset 0 0 0 35px #7CBB74;
	transform: scale3d(0.9, 0.9, 1);
	transition: box-shadow 0.3s, transform 0.3s;
}
.button--post.button--inverted::before {
	box-shadow: inset 0 0 0 35px #fff;
}
.button--post .button__icon {
	font-size: 22px;
	width: 22px;
}
.button--post > span {
	position: absolute;
	opacity: 0;
	pointer-events: none;
}
.button--post:hover {
	color: #37474f;
}
.button--post.button--inverted:hover {
	color: #fff;
}
.button--post:hover::before {
	box-shadow: inset 0 0 0 2px #37474f;
	transform: scale3d(1, 1, 1);
}
.button--post.button--inverted:hover::before {
	box-shadow: inset 0 0 0 2px #fff;
}
/* Publier */
.button.button--publier {
	padding: 1em 30px 1em 50px;
	overflow: hidden;
	background: #fff;
	color: #37474f;
	border-color: #37474f;
	transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}
.button--publier.button--inverted {
	color: #fff;
	background: #7986cb;
}
.button--publier > span {
	display: inline-block;
	transform: translate3d(-10px, 0, 0);
	transition: transform 0.3s;
	transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button--publier .button__icon {
	position: absolute;
	left: 20px;
	font-size: 18px;
	transform: translate3d(-40px, 2.5em, 0);
	transition: transform 0.3s;
	transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button--publier:hover .button__icon,
.button--publier:hover > span {
	transform: translate3d(0, 0, 0);
}
.button--publier:hover {
	background: #3f51b5;
	border-color: #3f51b5;
	color: #fff;
}


svg {
  cursor:pointer; 
  overflow:visible; 
  width:60px;
}
svg #heart {
  transform-origin:center; 
  animation:animateHeartOut .3s linear forwards;
}
svg #main-circ {
  transform-origin:29.5px 29.5px;
}
.checkboxx {
  display:none;
} 
.checkboxx:checked + label svg #heart {
  transform:scale(.2); 
  fill:#E2264D; 
  animation:animateHeart .3s linear forwards .25s;
}
.checkboxx:checked + label svg #main-circ {
  transition:all 2s; 
  animation:animateCircle .3s linear forwards; 
  opacity:1;
}
.checkboxx:checked + label svg #grp1 {
  opacity:1; 
  transition:.1s all .3s;
}
.checkboxx:checked + label svg #grp1 #oval1 {
  transform:scale(0) translate(0, -30px);
  transform-origin:0 0 0;
  transition:.5s transform .3s;
}
.checkboxx:checked + label svg #grp1 #oval2 {
  transform:scale(0) translate(10px, -50px);
  transform-origin:0 0 0;
  transition:1.5s transform .3s;
}
.checkboxx:checked + label svg #grp2 {
  opacity:1; 
  transition:.1s all .3s;
}
.checkboxx:checked + label svg #grp2 #oval1 {
  transform:scale(0) translate(30px, -15px); 
  transform-origin:0 0 0;
  transition:.5s transform .3s;
}
.checkboxx:checked + label svg #grp2 #oval2 {
  transform:scale(0) translate(60px, -15px); 
  transform-origin:0 0 0;
  transition:1.5s transform .3s;
}
.checkboxx:checked + label svg #grp3 {
  opacity:1; 
  transition:.1s all .3s;
}
.checkboxx:checked + label svg #grp3 #oval1 {
  transform:scale(0) translate(30px, 0px);
  transform-origin:0 0 0;
  transition:.5s transform .3s;
}
.checkboxx:checked + label svg #grp3 #oval2 {
  transform:scale(0) translate(60px, 10px);
  transform-origin:0 0 0;
  transition:1.5s transform .3s;
}
.checkboxx:checked + label svg #grp4 {
  opacity:1;
  transition:.1s all .3s;
}
.checkboxx:checked + label svg #grp4 #oval1 {
  transform:scale(0) translate(30px, 15px);
  transform-origin:0 0 0;
  transition:.5s transform .3s;
}
.checkboxx:checked + label svg #grp4 #oval2 {
  transform:scale(0) translate(40px, 50px);
  transform-origin:0 0 0;
  transition:1.5s transform .3s;
}
.checkboxx:checked + label svg #grp5 {
  opacity:1; 
  transition:.1s all .3s;
}
.checkboxx:checked + label svg #grp5 #oval1 {
  transform:scale(0) translate(-10px, 20px);
  transform-origin:0 0 0;
    transition:.5s transform .3s;
}
.checkboxx:checked + label svg #grp5 #oval2 {
  transform:scale(0) translate(-60px, 30px);
  transform-origin:0 0 0;
  transition:1.5s transform .3s;
}
.checkboxx:checked + label svg #grp6 {
  opacity:1; 
  transition:.1s all .3s;
}
.checkboxx:checked + label svg #grp6 #oval1 {
  transform:scale(0) translate(-30px, 0px);
  transform-origin:0 0 0;
  transition:.5s transform .3s;
}
.checkboxx:checked + label svg #grp6 #oval2 {
  transform:scale(0) translate(-60px, -5px);
  transform-origin:0 0 0;
  transition:1.5s transform .3s;
}
.checkboxx:checked + label svg #grp7 {
  opacity:1; 
  transition:.1s all .3s;
}
.checkboxx:checked + label svg #grp7 #oval1 {
  transform:scale(0) translate(-30px, -15px);
  transform-origin:0 0 0;
  transition:.5s transform .3s;
}
.checkboxx:checked + label svg #grp7 #oval2 {
  transform:scale(0) translate(-55px, -30px);
  transform-origin:0 0 0;
  transition:1.5s transform .3s;
}
.checkboxx:checked + label svg #grp2{opacity:1; transition:.1s opacity .3s;}
.checkboxx:checked + label svg #grp3{opacity:1; transition:.1s opacity .3s;}
.checkboxx:checked + label svg #grp4{opacity:1; transition:.1s opacity .3s;}
.checkboxx:checked + label svg #grp5{opacity:1; transition:.1s opacity .3s;}
.checkboxx:checked + label svg #grp6{opacity:1; transition:.1s opacity .3s;}
.checkboxx:checked + label svg #grp7{opacity:1; transition:.1s opacity .3s;}
  
@keyframes animateCircle {
  40%{transform:scale(10); opacity:1; fill:#DD4688;}
  55%{transform:scale(11); opacity:1; fill:#D46ABF;}
  65%{transform:scale(12); opacity:1; fill:#CC8EF5;}
  75%{transform:scale(13); opacity:1; fill:transparent; stroke:#CC8EF5; stroke-width:.5;}
  85%{transform:scale(17); opacity:1; fill:transparent; stroke:#CC8EF5; stroke-width:.2;}
  95%{transform:scale(18); opacity:1; fill:transparent; stroke:#CC8EF5; stroke-width:.1;}
  100%{transform:scale(19); opacity:1; fill:transparent; stroke:#CC8EF5; stroke-width:0;}
}
@keyframes animateHeart{
  0%{transform:scale(.2);}
  40%{transform:scale(1.2);}
  100%{transform:scale(1);}
}
@keyframes animateHeartOut{
  0%{transform:scale(1.4);}
  100%{transform:scale(1);}
}
.card-shadow{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}