
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="panel with-nav-tabs panel-default">
                <div class="panel-heading user-pan-head">
                    <ul>
                        <form id="searchform">
                            <input class="" type="text" placeholder="username" name="search" [(ngModel)]="search">
                            <button type="button" class="btn" (click)="searchUser(search)" href="#tab2default" data-toggle="tab" >
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </form>
                    </ul>
                     <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab1default" data-toggle="tab">Suivi</a></li>
                        <li><a href="#tab2default" data-toggle="tab">Suiveurs</a></li>
                        <li><a href="#tab4default" data-toggle="tab">Suggest.</a></li>
                    </ul>
                </div>
                <div class="panel-body no-padding">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab1default">    
                            <table class="table table-hover user-list">
                                <tr *ngFor="let user of buddyService.Followed">
                                    <td>
                                        {{user.username}}
                                        <i class="fa fa-eercast followed pull-right"(click)="unfollow(user)" [ngClass]="{'unfollowed': user.unfollowed}" aria-hidden="true"></i>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="tab2default">
                            <table class="table table-hover user-list">
                                    <tr *ngFor="let user of buddyService.Follower">
                                    <td>
                                        {{user.username}}
                                        <i class="fa fa-check unfollowed pull-right" (click)="follow(user)" [ngClass]="{'followed': user.followed}" aria-hidden="true"></i>
                                    </td>
                                    </tr>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="tab3default">
                                <table class="table table-hover user-list">
                                    <tr *ngFor="let user of searchResult">
                                        <td>
                                            {{user.username}}
                                            <i class="fa fa-check unfollowed pull-right" (click)="follow(user)" [ngClass]="{'followed': user.followed}" aria-hidden="true"></i>
                                        </td>
                                    </tr>
                                </table>
                            </div>  
                        <div class="tab-pane fade" id="tab4default">
                            <table class="table table-hover user-list">
                                    <tr *ngFor="let user of buddyService.UserNotFollowed">
                                    <td>
                                        {{user.username}}
                                        <i class="fa fa-check unfollowed pull-right" (click)="follow(user)" [ngClass]="{'followed': user.followed}" aria-hidden="true"></i>
                                    </td>
                                    </tr>
                            </table>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    </div>
</div>

