.jumbotron {
    position: relative;
    background-color: rgba(255, 255, 255, 0.75) !important;
    border-radius: 8px;
    padding-right:1%;
    padding-left:1%;
    padding-top:1%;
    margin-top: 1%;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .followed{
    color:#1CA2E8;
  }
  .unfollowed{
    color:grey;
  }
  i:hover{
    color:black;
  }
  .user-list{
    padding:0px;
  }
  a{
    padding:2px;
  }
  .panel-heading.user-pan-head{
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 3px;
  }
  .panel-body.no-padding{
    padding:0px;
  }
  .search-user{
    padding-right:-2%;
  }
