.jumbotron {
  position: relative;
  background-color: rgba(255, 255, 255, 0.75) !important;
  border-radius: 8px;
  padding-right:1%;
  padding-left:1%;
  padding-top:1%;
  margin-top: 1%;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: hidden;
}
.jumboMessage {
  font-family: 'Raleway', sans-serif;
  font-size: 27px;
}
.rando_card {
  background-color: rgba(120, 170, 163, 0.73);
  border-radius: 5px;
  margin-top: 2%;
}
.textRandoCard {
  text-align: center;
}
.margin-fix {
  margin: 4px;
}
button {
  background: #81a8a3;
  border: none;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-size: 27px;
  height: 72px;
  width: 100%;
  margin-top:10px;
  margin-bottom: 10px;
  overflow: hidden;
  transition: all .3s cubic-bezier(.6,0,.4,1);
}
.buttonMessage {
  display: block;
  line-height: 72px !important;
  font-size: 27px;
  color:white;
  position: relative;
  top: -2px;
  transform: translate3d(0,0,0);
}
.disabled {
  background-color: #626262;
}
button.disabled:hover {
  background-color:  #626262;
  cursor:not-allowed;
}
.marqueur-form{
  margin-top:0%;
}
.cancel{
  background-color: rgb(190, 55, 55);
}


/* SERVICES */
.services-icones{
  padding-right: 15px;
  padding-left: 15px
}
.services-icones button{
  padding: 0px;
  height: 40px;
  width: 40px;
  margin: 5px;
}
.services-icones img{
  height: 25px;
}
.services-icones h3 img{
  height: 25px;
  margin: 5px;
}


/* DIFFICULTE */
.difficulteRando {
  margin-top: 40px;
}
.eclair {
  margin-left: 15%;
}
.difficult-not{
  color:rgba(149, 146, 146, 0.90);
}
.difficult-1{
  color:#1DDF1D;
}
.difficult-2{
  color:yellow;
}
.difficult-3{
  color:red;
}
label > input{
  visibility: hidden;
  position: absolute; 
}
label > input + i{
  cursor:pointer;
  border:2px solid transparent;
}


/* BOUTONS DE LA VUE DETAILLEE */
.button {
	min-width: 150px;
	max-width: 250px;
	display: block;
	margin: 1em;
	padding: 1em 2em;
	border: none;
	background: none;
	color: inherit;
  position: relative;
  border-radius: 40px;
  z-index: 1;
  font-weight: 500;
}
.button:focus {
	outline: none;
}
.button > span {
	vertical-align: middle;
}
.button.button--vue {
	width: 70px;
	height: 70px;
	min-width: 0;
	padding: 0;
	color: #81a8a3;
	transition: color 0.3s;
}
.button--vue.button--inverted {
	color: #fff;
}
.button--vue::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: inherit;
	z-index: -1;
	box-shadow: inset 0 0 0 35px #fff;
	transform: scale3d(0.9, 0.9, 1);
	transition: box-shadow 0.3s, transform 0.3s;
}
.button--vue.button--inverted::before {
	box-shadow: inset 0 0 0 35px #81a8a3;
}
.button--vue .button__icon {
	font-size: 22px;
	width: 22px;
}
.button--vue > span {
	position: absolute;
	opacity: 0;
	pointer-events: none;
}
.button--vue:hover {
	color: #fff;
}
.button--vue.button--inverted:hover {
	color: #81a8a3;
}
.button--vue:hover::before {
	box-shadow: inset 0 0 0 2px #fff;
	transform: scale3d(1, 1, 1);
}
.button--vue.button--inverted:hover::before {
	box-shadow: inset 0 0 0 2px #81a8a3;
}


/* GALERIE D'IMAGES */
.banqueImgMarqueur{
  height: 100px !important;
}
.overlay{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
  overflow-x: hidden;
  transition: 0.5s;
}
.overlay-content {
  position: relative;
  top: 50%;
  left: 50%;
  bottom: 15%;
  width: 100%;
  height: 50%;
  margin-top: 30px;
  transform: translate(-20%,-60%); 
}
.overlay .closebtn {
  position: absolute;
  z-index: 5;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
.overlay .nextbtn{
  position: absolute;
  z-index: 5;
  top: 50%;
  right: 45px;
  font-size: 60px;
}
.overlay .lastbtn{
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 45px;
  font-size: 60px;
}