/* Main marketing message and sign up button */
.jumbotron {
  position: relative;
  background-color: rgba(255, 255, 255, 0.75) !important;
  border-radius: 8px;
  padding-right:1%;
  padding-left:1%;
  padding-top:1%;
  margin-top: 1%;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: hidden;
}

.jumboMessage {
  font-family: 'Raleway', sans-serif;
  font-size: 27px;
}
.rando_card{
  background-color: #FAF5F5;
  border-color:rgba(65, 119, 92, 0.73);
  border-radius: 5px;
  border-width: 3px;
  border:solid;
  text-align: center;
  margin-top:2%;
}
button {
  background: #81a8a3;
  border: none;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-size: 27px;
  height: 72px;
  width: 100%;
  margin-top:10px;
  margin-bottom: 10px;
  overflow: hidden;
  -webkit-transition: all .3s cubic-bezier(.6,0,.4,1);
          transition: all .3s cubic-bezier(.6,0,.4,1);
}
.buttonMessage {
  display: block;
  line-height: 72px !important;
  font-size: 27px;
  color:white;
  position: relative;
  top: -2px;
  -webkit-transform: translate3d(0,0,0);
          transform: translate3d(0,0,0);
}
.disabled {
  background-color: #626262;
}
button.disabled:hover {
  background-color:  #626262;
  cursor:not-allowed;
}
.marqueur-form{
  margin-top:0%;
}
.cancel{
  background-color: rgb(190, 55, 55);
}
.services-icones{
  padding-right: 15px;
  padding-left: 15px
}
.services-icones button{
  padding: 0px;
  height: 40px;
  width: 40px;
  margin: 5px;
}
.services-icones img{
  height: 25px;
}

.services-icones h3 img{
  height: 25px;
  margin: 5px;
}

.banqueImgMarqueur{
  height: 100px !important;
}

.overlay{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 50%;
  left: 50%;
  bottom: 15%;
  width: 100%;
  height: 50%;
  margin-top: 30px;
  transform: translate(-20%,-60%); 
}

.overlay .closebtn {
  position: absolute;
  z-index: 5;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.overlay .nextbtn{
  position: absolute;
  z-index: 5;
  top: 50%;
  right: 45px;
  font-size: 60px;
}

.overlay .lastbtn{
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 45px;
  font-size: 60px;
}

.margin-fix{
  margin:4px;
}
.difficult-not{
  color:rgba(149, 146, 146, 0.90);
}
.difficult-1{
  color:#1DDF1D;
}
.difficult-2{
  color:yellow;
}
.difficult-3{
  color:red;
}
label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
label > input + i{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}

