<div>
    <div class="jumbotron container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div id="map"></div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4">
                <button class="ajoutMarqueur" (click)="PermissionAjoutMarker()"[ngClass]="{'cancel': AcceptMarker}" >
                    <span class="buttonMessage" *ngIf="!AcceptMarker">
                        Ajouter un marqueur
                    </span>
                    <span class="buttonMessage cancel" *ngIf="AcceptMarker">
                        Annuler
                    </span>
                </button>
            </div>
            <div class="col-md-4">
                <button class="ajoutMarqueur" (click)="PermissionDetails()"[ngClass]="{'cancel': DetailsView}">
                    <span class="buttonMessage" *ngIf="!DetailsView">
                        Vue détaillée
                    </span>
                    <span class="buttonMessage cancel" *ngIf="DetailsView">
                        Fermer
                    </span>
                </button>
            </div>
            <div class="col-md-4" (click)="ChangeStade()">
                <button>
                    <span class="buttonMessage" *ngIf="stadetrace==0">
                        Ajout trajet
                    </span>
                    <span class="buttonMessage" *ngIf="stadetrace==1">
                        Choix du marqueur
                    </span>
                    <span class="buttonMessage" *ngIf="stadetrace==2">
                        Tracer trajet
                    </span>
                    <span class="buttonMessage" *ngIf="stadetrace==3">
                        Enregistrer trajet
                    </span>
                </button>
            </div>
            <div class="col-md-3" (click)="Annulation()" *ngIf="stadetrace>0">
                <button>
                    <span class="buttonMessage cancel">
                        Annuler
                    </span>
                </button>
            </div>
        </div>
        <div *ngIf="AcceptMarker" class="row marqueur-form">
            <div class="container col-md-offset-1 col-md-10">
                <h2>Nouveau marqueur</h2>
                <form class="form-horizontal" role="form" #f="ngForm" (ngSubmit)="ConfirmationMarker()">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Titre:</label>
                        <div class="col-lg-8">
                            <input class="form-control" type="text" name="titre" [(ngModel)]="currentmarqueur.nom" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Description:</label>
                        <div class="col-lg-8">
                                <textarea  class="form-control" type="text" name="desc" id="desc" style="resize:none"
                                [(ngModel)]="currentmarqueur.desc" required></textarea>
                        </div>
                    </div>
                    <button class="buttonMessage" type="submit" [disabled]="!f.valid" [ngClass]="{'disabled':!f.valid}">Confirmer</button>
                </form>
            </div> 
        </div>
        <div *ngIf="DetailsView" class="row">
            <div class="col-md-offset-1 col-md-10 blog-main">
                    
                <div class="blog-post row">
                <h2 class="blog-post-title">{{currentmarqueur.title}}</h2>
                <p class="blog-post-meta">Crée par : <a href="">Utilisateur</a></p>
                <span>
                    <h3>Temperature :</h3>

                </span>
                <p>
                    {{currentmarqueur.desc}}
                </p>
                </div>
            </div>
        </div>

    </div>
</div>
