<body>

    <navBar></navBar>

    <br><br><br>

    <h1>MAP</h1>

    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <div id="map"></div>
        </div>     
    </div>

    <div [ngClass]="{'nouveauMarqueur': AcceptMarker}">
        <span *ngIf="AcceptMarker">
            <span>Pour ajouter un marqueur clicker afin de choisir sa position, pour repositionner
                  le marqueur, vous pouvez cliquer dessus et le glisser ou cliquer à un autre endroit
                  sur la carte. Ensuite inscrire un titre et une description puis confirmer.   
            </span>

            <form #f="ngForm" (ngSubmit)="ConfirmationMarker()">
                Titre de la randonnée: <input type="text" name="titre" [(ngModel)]="currentmarqueur.nom" required>
                <br>
                <label for="desc" style="vertical-align: top">Description:</label>
                <textarea type="text" name="desc" rows="4" cols="50" id="desc" style="resize:none"
                    [(ngModel)]="currentmarqueur.desc" required></textarea><br>
                <button type="submit" *ngIf="f.valid">Confirmer</button>
            </form>    
        </span>

        <br>

        <button (click)="PermissionAjoutMarker()">{{btnAjout}}</button>
    </div>

    <br><br><br>

</body>