body { 
  background: url(./../images/back-forest.svg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin:0;
}
footer {
  width:100%;
  min-height:5%; 
}

.has-error {
  border-color: #FF0300 !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.has-success {
  border-color: #09CE0C !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.nouveauMarqueur{
  background-color: white;
  margin: auto;
  width: 50%;
}

.divprofil{
  background-color: rgba(255, 255, 255, 0.5)
}