


<div class="row imgprez">
    <div class="col-md-3 imageanime" id="moveAnnie">
        <div class="panel-collapse collapse" id="testanimannie">
            <a (click)="showDesc()">
                <img src="../../../images/annifire.gif" class="img-responsive"/>
            </a>
            <div class="row">
                <div class="col-md-10 col-md-offset-1 description">
                        <h3>Annie Deshaies</h3>
                    <span>blablabal</span>
                </div>
            </div>    
        </div>
        <div class="row" id="feuAnnie">
            <div class="col-md-12">
                <img src="../../../images/fire.gif" class="img-responsive" id="feu"/>
            </div>
        </div>
    </div>      
 
    <div class="col-md-3 imageanime" id="moveAntoine">
        <div class="panel-collapse collapse"id="testanimantoine">
            <a (click)="showDesc()">
                <img src="../../../images/antoine.gif" class="img-responsive"/>
            </a>
            <div class="row">
                <div class="col-md-10 col-md-offset-1 description">
                        <h3>Antoine Emond</h3>
                </div>
            </div>
        </div>
        <div class="row" id="feuAntoine">
            <div class="col-md-12">
                <img src="../../../images/fire.gif" class="img-responsive" id="feu"/>
            </div>
        </div>
    </div>
    <div class="col-md-3 imageanime" id="movePascal">
        <div class="panel-collapse collapse" id="testanimpascal">
            <a (click)="showDesc()">
                <img src="../../../images/pascal.gif" class="img-responsive"/>
            </a>
            <div class="row">
                <div class="col-md-10 col-md-offset-1 description">
                    <h3>Pascal Audet</h3>
                </div>
            </div>
        </div>
        <div class="row" id="feuPascal">
            <div class="col-md-12">
                <img src="../../../images/fire.gif" class="img-responsive" id="feu"/>
            </div>
        </div>
    </div>
    <div class="col-md-3 imageanime" id="moveJerome">
        <div class="panel-collapse collapse" id="testanimjerome">
            <a (click)="showDesc()">
                <img src="../../../images/pusher.gif" class="img-responsive"/>
            </a>
            <div class="row">
                <div class="col-md-10 col-md-offset-1 description">
                    <h3>Jérôme Labrie</h3>
                </div>
            </div>
        </div>
        <div class="row" id="feuJerome">
            <div class="col-md-12">
                <img src="../../../images/fire.gif" class="img-responsive" id="feu"/>
            </div>
        </div>
    </div>
</div>

<div id="descriptionPerso" class="overlay">
    <a href="javascript:void(0)" class="closebtn" (click)="fermeDesc()">x</a>
    <a href="javascript:void(0)" class="lastbtn" (click)="imagePrecedentGallery()"> &#8810; </a>
    <a href="javascript:void(0)" class="nextbtn" (click)="prochaineImageGallery()"> &#8811; </a>
    <div id="PresentationImage" class="overlay-content">

    </div>
</div>

<div id="fullscreenprez" class="blackscreen">
   <br/>
   <span>Présentation</span> 
   <span>d'une</span> 
   <span>équipe</span>
   <br/> 
   <span>de</span> 
   <span>feu</span> 
   <span>pour</span>
   <br/> 
   <span>créer</span> 
   <span>le</span> 
   <span>web</span>
   <br/> 
   <span>de</span> 
   <span>demain!</span> 
</div>