

<div class="jumbotron container">        
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h2>Profil</h2>               
            
            <form class="form-horizontal" role="form" #fProfil="ngForm">
                <div class="row">
                    <div class="col-lg-3">
                        <img [src]="profil.profilimage" class="img-circle img-responsive" style="pointer-events: none;" height="175px">
                        <input *ngIf="profil.profilId == -1 || bEdit" type="file" (change)="OnPreLoadImage($event)"/>   
                    </div>
                    <div class="col-lg-8 col-lg-offset-1">
                        <div *ngIf="profil.profilId >= 0 && !bEdit; else elseBlock">
                                
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Nom d'utilisateur :</label>
                                <div class="col-lg-1 textprofil">
                                    {{profil.username}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Courriel :</label>
                                <div class="col-lg-1 textprofil">
                                    {{profil.courriel}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Prénom :</label>
                                <div class="col-lg-1 textprofil">
                                    {{profil.prenom}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Nom :</label>
                                <div class="col-lg-1 textprofil">
                                    {{profil.nom}}
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="button button--profil button--inverted" (click)="editToogle()">
                                    Éditer
                                </button>
                                <button class="button button--profil button--inverted" (click)="onDeleteProfil()">
                                    Supprimer profil
                                </button>
                                <button class="button button--profil button--inverted" (click)="onDeleteUser()">
                                    Supprimer compte
                                </button>                                                                                     
                            </div>                        
                        </div>
                        <ng-template #elseBlock>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Nom d'utilisateur :</label>
                                <div class="col-lg-8">
                                    <input class="form-control" type="text" name="profil.username" [(ngModel)]="profil.username" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Courriel :</label>
                                <div class="col-lg-8">
                                    <input class="form-control" type="text" name="profil.courriel" [(ngModel)]="profil.courriel" 
                                        [disabled]="!bEdit" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Prénom :</label>
                                <div class="col-lg-8">
                                    <input class="form-control" type="text" name="profil.prenom" [(ngModel)]="profil.prenom">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Nom :</label>
                                <div class="col-lg-8">
                                    <input class="form-control" type="text" name="profil.nom" [(ngModel)]="profil.nom">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <button *ngIf="!bEdit" class="button button--profil button--inverted" 
                                        (click)="onCreateProfil()" [disabled]="!fProfil.valid">
                                        Créer mon profil <loading></loading>
                                    </button>
                                    <button *ngIf="bEdit" class="button button--profil button--inverted" 
                                        (click)="onEditProfil()" [disabled]="!fProfil.valid">
                                        Confirmer <loading></loading>
                                    </button>
                                    <button *ngIf="bEdit" class="button button--profil button--inverted" 
                                        (click)="editAnnuler()">
                                        Annuler
                                    </button>                           
                                </div>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </form>                               
        </div>
    </div>
    <hr>           
</div>



