<i *ngIf="loadingservice.loadingGlobalActive"  class="loading-global fa fa-spinner fa-pulse fa-3x"></i>
<i *ngIf="loadingservice.loadingLocalActive"  class="loading-local fa fa-spinner fa-pulse"></i>
<button *ngIf="loadingservice.loadingGlobalActive" type="button" (click)="loadingservice.stopLoadGlobal()">stopGlobal</button>
<button *ngIf="!loadingservice.loadingGlobalActive" type="button" (click)="loadingservice.startLoadGlobal()">startGlobal</button>
Global = {{loadingservice.loadingGlobalActive}}
<button *ngIf="loadingservice.loadingLocalActive" type="button" (click)="loadingservice.stopLoadLocal()">stopLocal</button>
<button *ngIf="!loadingservice.loadingLocalActive" type="button" (click)="loadingservice.startLoadLocal()">startLocal</button>
Local = {{loadingservice.loadingLocalActive}}